.show-container{
  background-color: white;
  padding: 16px;
  border-radius: 4px;
  margin-top: 10px;
}
.show-container > h2, h3{
  text-align: center;
  margin: 20px 0;
}
.show-dateform{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 30%;
  padding: 16px;
  border-radius: 8px;
}
.show-dateform > h3{
  text-align: center;
}
.form-container{
  display: flex;
  justify-content: space-between;
}
