.show-container{
  background-color: white;
  padding: 32px;
  border-radius: 4px;
  margin-top: 10px;
}
.show-container > h2, h3{
  text-align: center;
  margin: 20px 0;
}
.form-container{
  display: flex;
  justify-content: space-around;
}
.title-show-container{
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.box-review {
  margin: 5px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 40%;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #EBEBEB;
}
.box-description{
  margin: 5px;
  background-color: #fff;
  width: 30%;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #EBEBEB;
}
.box-form{
  margin: 5px;
  background-color: #fff;
  width: auto;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #EBEBEB;
}
