<div class="container">
  <h2>Offer applied</h2>

  <% @bookings.each do |booking| %>
  <div class="card-booking">
    <div class="card-index-top">
      <img src="" alt="Avatar perso" class="avatar">
      <h2> <%= booking.user.last_name.capitalize + ' ' +  booking.user.first_name.capitalize %> </h2>
    </div>
    <div class="card-index-text">
      <h3><%= booking.offer.title %></h3>
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugit fugiat ex quia corporis, suscipit numquam! Asperiores earum temporibus placeat, beatae quo rerum nemo, obcaecati perferendis blanditiis minus nisi exercitationem. </p>
    </div>
    <div class="card-index-bottom">
      <p>Full Time</p>
      <p>Update-time</p>
    </div>
  </div>
  <% end %>

  <h2>Offer Create</h2>

  <% @bookings.each do |booking| %>
  <div class="card-booking">
    <div class="card-index-top">
      <img src="" alt="Avatar perso" class="avatar">
      <h2> <%= booking.offer.user.last_name.capitalize + ' ' +  booking.offer.user.first_name.capitalize %> </h2>
    </div>
    <div class="card-index-text">
      <h3><%= booking.offer.title %></h3>
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugit fugiat ex quia corporis, suscipit numquam! Asperiores earum temporibus placeat, beatae quo rerum nemo, obcaecati perferendis blanditiis minus nisi exercitationem. </p>
    </div>
    <div class="card-index-bottom">
      <p>Full Time</p>
      <p>Update-time</p>
    </div>
  </div>
  <% end %>

</div>
