<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1487446929682-f62f73984006?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80);">
  <div class="text-banner">
    <h1>DIGITAL AGENCY</h1>
    <p>Platform for freelancers</p>
  </div>
</div>
