

<div class="footer">
  <div class="icons">
  <%= link_to "#", class: "icon" do  %>
  <i class="fab fa-facebook-square"></i>
  <% end %>

  <%= link_to "#", class: "icon"  do  %>
  <i class="fab fa-github-square"></i>
  <% end %>

  <%= link_to "#", class: "icon"  do  %>
  <i class="fab fa-instagram-square"></i>
  <% end %>
  </div>
</div>
