<div class="navbar">
  <div class="logo">
    <%= image_tag 'digital-logo.png', class: 'logonavbar' %>
  </div>
  <div class="link">
    <a href="#" class="btn-navbar">Log in</a>
    <a href="#" class="btn-navbar2">Sign up</a>
  </div>
</div>
