

<div class="searchbar-contain">
  <%= form_tag(offers_path, method: 'get') do %>
        <%= text_field_tag :query, params[:query], class: "searchbar", placeholder: "Search category" %>
        <%= button_tag(type: "submit", class: "btn-searchbar") do  %>
          <i class="fas fa-search"></i>
        <% end %>
  <% end %>
</div>
