
<%= render "shared/banner" %>

  <div class="grid-homepage">
    <div class="card-homepage" style=" background-color: #FF9D02">
      Breakfast
    </div>
    <div class="card-homepage" style="background-color: #F78238">
      Breakfast
    </div>
    <div class="card-homepage" style="background-color: #F37448">
      Breakfast
    </div>
    <div class="card-homepage" style="background-color: #EE6556">
      Breakfast
    </div>
  </div>
</div>
