
<%= render "shared/banner" %>

  <div class="grid-homepage">
    <div class="card-homepage" style=" background-color: #FF9D02">
      ALL
    </div>
    <div class="card-homepage" style="background-color: #F78238">
      FRONT-END
    </div>
    <div class="card-homepage" style="background-color: #F37448">
      BACK-END
    </div>
    <div class="card-homepage" style="background-color: #EE6556">
      UX/UI
    </div>
  </div>
</div>
