<div class="card-grid">
  <% @offers.each do |offer| %>
    <div class="card-index">
      <div class="card-index-top">
        <img src="https://kitt.lewagon.com/placeholder/users/cveneziani" alt="Avatar perso" class="avatar">
        <h3> <%= offer.user.last_name.capitalize + ' ' +  offer.user.first_name.capitalize %> </h3>
      </div>
      <div class="card-index-text">
        <h3><%= offer.title %></h3>
        <p><%= offer.description %></p>
      </div>
      <div class="card-index-bottom">
        <p>Full Time</p>
        <p>Update-time</p>
      </div>
    </div>
  <% end %>
</div>
