.avatar {
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid lightgray;
}
.avatar-card {
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid lightgray;
}
