.avatar {
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid lightgray;
  cursor: grab;
}
.avatar-card {
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid lightgray;
}

.avatar-big {
  width: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid lightgray;
}
