.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
  margin: 8px;
}

.card-index {
  text-align: center;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0/ 20%);
}

.card-index-top {
  display: flex;
  justify-content: space-between;
  margin: 4px;
  padding: 4px 8px;
  height: 80px;
}

.card-index-text {
  text-align: center;
  margin: 4px;
}

.card-index-bottom {
  display: flex;
  justify-content: space-between;
  margin: 4px;
  padding: 4px 8px;
  height: 60px;
  border-top: 1px solid black;
}

.card-booking {
  text-align: center;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0 / 20%);
}
