.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  &:hover{
    transform: scale(1.05);
    transition: 0.3s;
  }
}
.card-trip-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.card-trip h2, h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.card-trip p {
  font-size: 18px;
  opacity: .7;
  margin: 0;
}
.card-trip-infos{
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}
.card-trip-infos h2{
  padding-top: 10px;
  color: #2f3e46;
}
.card-trip-infos h3{
  color: grey;
}
.infos-price{
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 0 8px;
  margin-top: 8px;
}
.infos-price h2{
  font-size: 13px;
  color: #84a98c;
}
.create-card-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover{
    transform: scale(1.05);
    transition: 0.3s;
  }
}
.container h1{
  color: #2f3e46;
  font-family: "Nunito", "Helvetica", "sans-serif";
  font-weight: bold;
}

/* cards index offers */
.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
  width: 100%;
  margin-bottom: 24px;
}
.card-index {
  text-align: center;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0/ 20%);
  color: black;
  text-decoration: none;
  &:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: grab;
  }
}
a {
  text-decoration: none !important;
}
.card-index-top {
  display: flex;
  justify-content: space-between;
  margin: 4px;
  padding: 4px 8px;
  h3 {
    font-size: 20px;
  }
  img {
    object-fit: cover;
  }
}
.card-index-top-text {
  display: flex;
  text-align: right;
}
.card-index-text {
  text-align: center;
  margin: 4px;
  h3 {
    font-size: 20px;
    margin-bottom: 0px;
  }
  p {
    margin-top: 0px;
  }
}
.card-index-bottom {
  display: flex;
  justify-content: space-between;
  margin: 4px;
  padding: 4px 8px;
  height: 60px;
  border-top: 1px solid black;
  p {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
.card-booking {
  text-align: center;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0 / 20%);
  color: black;
  text-decoration: none;
  &:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: grab;
  }
}
.card-homepage {
  margin: 0 10px;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: nunito;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.grid-homepage {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
