.navbar{
  z-index: 1;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  background-color: #ffffff;
}
.link{
  margin-right: 0px;
  display: flex;
}
.btn-navbar2{
  background-color: #ff9c00;
  padding: 6px 16px;
  border-radius: 4px;
  color: white;
  margin-right: 5px;
}
.btn-navbar2:hover{
  text-decoration: none;
  opacity: 0.8;
  color: white;
}
.btn-navbar{
  background-color: lightgray;
  padding: 6px 16px;
  border-radius: 4px;
  color: white;
  margin-right: 15px;
}
.btn-navbar:hover{
  text-decoration: none;
  opacity: 0.8;
  color: white;
}
.logonavbar{
  width: 120px;
  height: 60px;
}
.list-contain{
list-style: none;
}
.list-contain:hover .dropdownmenu{
  display: block;
}
.dropdownmenu{
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 10px;
}
.dropdownitem{
  display: block;
  color: black;
  padding: 12px 16px;
}
.dropdownitem:hover{
  text-decoration: none;
  color: #ff9c00;
  background-color: white;
}


/* -------------- */
/* CSS search bar */
.searchbar{
  border-radius: 20px 0 0 20px;
  width: 400px;
  position: relative;
  border-right: none;
  background-color: RGB(255, 255, 255);
  border-color: black;
  height: 40px;
}

.searchbar:focus{
  outline: none;
}


.btn-searchbar{
  border-radius: 0 20px 20px 0;
  position: absolute;
  border-left: none;
  font-size: 23px;
  background-color: RGB(255, 255, 255);
  color: #ff9c00;
  border-color: black;
}
