.navbar{
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid black;
  background-color: #ffffff;
}

.link{
  margin-right: 30px;
  display: flex;

}

.btn-navbar2{
  background-color: #ff9c00;
  padding: 6px 16px;
  border-radius: 4px;
  color: white;
  margin-right: 15px;
}
.btn-navbar2:hover{
  text-decoration: none;
  opacity: 0.8;
  color: white;
}

.btn-navbar{
  background-color: #c4bfbf;
  padding: 6px 16px;
  border-radius: 4px;
  color: black;
  margin-right: 15px;
}

.btn-navbar:hover{
  text-decoration: none;
  opacity: 0.8;
  color: black;
}

.logonavbar{
  width: 140px;
  height: 80px;
}

.avatar{
  width: 40px;
  height: 40px;
}

.list-contain{
list-style: none;
}
